<div style="padding: 13px;">
  <mat-spinner *ngIf="groups.length === 0"></mat-spinner>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="25px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let group of groups; let i = index">
        <a class="linkGroupTitle" href="javascript:" (click)="onClick($event, i)">
          <mat-card appHoverDir>
            <mat-card-header>
              <span class="groupTitle">{{group.nameGroup}}</span>
            </mat-card-header>
            <img mat-card-image width="100%" height="100%" src="{{ 'assets/imgs/server/groupImages/'+group.imageUrl }}"/>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
