
<div class="create_group_form" fxFlex="30%" fxFlex.md="40%" fxFlex.sm="60%"  fxFlex.xs="100%"
     fxFlexOffset="10%" fxFlexOffset.sm="3%" fxFlexOffset.xs="1%">
  <mat-form-field appearance="outline" class="create_group_form_name">
    <mat-label>Название</mat-label>
    <input matInput placeholder="название">
    <mat-hint>{{nameHint}}</mat-hint>
  </mat-form-field>
  <label style="size: 3em;" id="group_content">Содержимое группы</label>
  <mat-radio-group aria-labelledby="group_content" class="create_group_form_rbg" [(ngModel)]="groupContent">
    <mat-radio-button class="create_group_form_rb" value="groups">Группы</mat-radio-button>
    <mat-radio-button class="create_group_form_rb" value="aggregates">Агрегаты</mat-radio-button>
  </mat-radio-group>
  <mat-label>Изображение</mat-label>
  <button class="create_group_form_bb" mat-raised-button color="primary">Выбрать</button>
  <div class="create_group_form_bs" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="accent">Отменить</button>
    <button class="create_group_form_bs" mat-raised-button color="accent">Сохранить</button>
  </div>
</div>
