<div class="form" fxFlex="30%" fxFlex.md="40%" fxFlex.sm="60%" fxFlex.xs="100%"
     fxFlexOffset="10%" fxFlexOffset.sm="3%" fxFlexOffset.xs="1%">
  <mat-form-field appearance="outline" class="name">
    <mat-label>Название</mat-label>
    <input [(ngModel)]="group.nameGroup" matInput placeholder="название" required minlength="5" #validator="ngModel">
    <mat-hint>{{nameHint}}</mat-hint>
  </mat-form-field>
  <label style="size: 3em;" id="group_content">Содержимое группы</label>
  <mat-radio-group aria-labelledby="group_content" class="rbg" [(ngModel)]="group.typeOfChildren">
    <mat-radio-button class="rb" [value]="1">Группы</mat-radio-button>
    <mat-radio-button class="rb" [value]="2">Агрегаты</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <ngx-mat-file-input [(ngModel)]="fileInput"
      placeholder="Выберите изображение" [accept]="'.jpg, .jpeg, .png'" (input)="inputFile($event)">
    </ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
  <div class="controls" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="accent" (click)="cancel()">Отменить</button>
    <button class="button_controls" mat-raised-button color="accent" (click)="send(validator.valid)">Сохранить</button>
  </div>
</div>
