div.form
{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*max-width: 500px;*/
  border: 2px solid rgba(136, 136, 136, 0.5);
  /*border-color: ;*/
  border-radius: 15px;
  margin-top: 30px;
  font-size: 1rem;
  padding: 20px;
}
mat-form-field.name
{
  display: block;
  margin-bottom: 25px;
}
mat-radio-group.rbg
{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
mat-radio-button.rb
{
  margin: 5px;
}
button.button_choose_file
{
  margin-left: 80px;
  margin-bottom: 30px;
}
div.controls
{
  width: 100%;
}
button.button_controls
{
  margin-left: 20px;
}
