<div style="padding: 13px;">
  <mat-spinner *ngIf="groups.length === 0"></mat-spinner>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="25px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let group of groups">
        <!--        <a href="{{'localhost:9966/api/groupaggregate/v1/'+group.parentId}}">-->
        <mat-card appHoverDir>
          <mat-card-header>
              <span style="text-align:center; width: 100%;
              font-family: Helvetica;
              font-size: 1.8em;
              font-weight: bold;
              margin-bottom: 1cm;">{{group.nameGroup}}</span>
          </mat-card-header>
          <img mat-card-image width="100%" height="100%" src="{{ 'assets/imgs/server/groupImages/'+group.imageUrl }}"/>
        </mat-card>
        <!--        </a>-->
      </div>
    </div>
  </div>
</div>
