<a class="linkGroupTitle" href="javascript:" (click)="onClick()">
  <div>
    <app-menu-group-aggregate-item (msg)="getMessage($event)"></app-menu-group-aggregate-item>
    <mat-card appHoverDir>
      <mat-card-header>
        <span class="groupTitle">{{aggregate.nameTarget}}</span>
      </mat-card-header>
      <img mat-card-image src="{{ imgPathGroupAggregate+aggregate.imgUrl }}" />
      <mat-card-content *ngIf="isInfo">
        <p>{{aggregate.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</a>
